@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-base-900 text-white antialiased;
  }

  a {
    @apply text-white/90 hover:text-white;
  }
}

@layer utilities {
  .text-muted {
    @apply text-white/60;
  }
}
